{% extends "header.html"%}

{% block body %}
<link href="{{ url_for('static', filename='css/bootstrap-markdown.min.css') }}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.bootcss.com/simplemde/1.11.2/simplemde.min.css">
<script src="https://cdn.bootcss.com/simplemde/1.11.2/simplemde.min.js"></script>


<style type="text/css">

.head
{
margin-top:-25px;
height:200px;
background:url({{ url_for('static', filename='images/blueprint.jpg')}});
box-shadow: 2px 1px 3px 1px #aaaaaa;
}

.editor
{
margin: auto;
margin-top:-120px;
left:0px;
right:0px;
max-width:1000px;
min-width:400px;
}

.Title
{
text-align:left;
color:white;
font-size:35px;
}








</style>

<div class="well head">

</div>

<form class="editor" action="" method="post" role="form" name="editor">
	<div class="Title">编辑草稿:</div>


	<input name="title" type="text" size="60" value="{{draft.title}}" class='form-control'>


	<br>
	<br>
	<textarea name="body" id="markdown" rows="30">{{draft.body}}</textarea>
	<script>

	var simplemde = new SimpleMDE({ element: $("#markdown")[0] });







	</script>
	<br>
	<div class="text-right">
		<button class="button button-3d button-primary button-rounded" type="submit" name="form-name" value="post"
		        onclick="editor.action='/people/update_draft/{{draft.id}}'; editor.submit()">保存
		</button>

		<!-- Button trigger modal -->
		<button type="button" class="button button-3d button-action button-rounded" data-toggle="modal"
		        data-target="#myModal">
			发布
		</button>

		<a class="button button-3d button-rounded" href="/people/drafts">返回</a>
	</div>


	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">发布内容</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="selector" class="col-sm-2 control-label">发布到：</label>
						<div class="col-sm-10">
							<select class="form-control" name="theme-id" id="selector">
								{% for theme in themes %}

								<option value="{{theme.id}}">{{theme.name}}</option>

								{% endfor %}

							</select>
						</div>
					</div>
					<br>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button class="btn btn-success" type="submit" name="form-name" value="post"
					        onclick="editor.action='/people/post_from_draft/{{draft.id}}'; editor.submit()">保存并发布
					</button>
				</div>
			</div>
		</div>
	</div>

</form>


{% endblock %}