{% extends "header.html" %}

{% block body %}


    <style type="text/css">

        #hero {
            margin-top: -25px;
            height: 350px;
            color: white;
            background: url({{ url_for('static', filename='images/index-bg.jpg')}});
        }

        .carousel-indicators {
            position: relative;
            bottom: -300px;
        }

        .carousel-inner {
            margin-top: 60px;
        }

        #well-nav {
            margin-top: -24px;
            height: 50px;
            box-shadow: 2px 1px 3px 1px #aaaaaa;
            text-align: center;
        }

        .plates {
            position: absolute;
            margin: auto;
            left: 0px;
            right: 0px;
            position: relative;
            margin-top: 30px;
            max-width: 1200px;
        }

        .card {
            position: absolute;
            margin: auto;
            left: 0px;
            right: 0px;
            position: relative;
            width: 250px;
        }

        .add-theme {
            height: 300px;
            width: 220px;
            border: 1px dashed grey;
            font-size: 45px;
            text-align: center;
            background: #eee;
        }

        .thumbnail {
            max-width: 250px;
        }

        .favo {
            position: relative;
            bottom: 0px;
            text-aligen: right
        }


    </style>


    <div id="hero" class="hero-section">

        <div id="hero-carousel" class="hero-carousel carousel carousel-fade slide" data-ride="carousel"
             data-interval="10000">

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#hero-carousel"></li>
                <li data-slide-to="1" data-target="#hero-carousel"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item item-1 active">
                    <div class="item-content container">
                        <div class="item-content-inner">

                            <h2 class="heading">听说你想搞个大新闻？ <br class="hidden-xs">为您推送最新的金融与量化新闻</h2>
                            <p class="intro">全网征集金融与量化相关的投稿，选入日报可以获得QuantHome送出的独家礼品哦！！！</p>
                            <a class="button button-plain button-border button-primary button-rounded"
                               href="#"
                               target="_blank">敬请期待</a>

                        </div><!--//item-content-inner-->
                    </div><!--//item-content-->
                </div><!--//item-->

                <div class="item item-2">
                    <div class="item-content container">
                        <div class="item-content-inner">

                            <h2 class="heading">全新改版行情页面</h2>
                            <p class="intro">全新改版牛熊宝行情数据页面，采用卡片式设计，对手机兼容性更好</p>
                            <a class="button button-plain button-border button-primary button-rounded"
                               href="#"
                               target="_blank">敬请期待</a>

                        </div><!--//item-content-inner-->
                    </div>
                </div><!--//item-->

            </div><!--//carousel-inner-->

        </div><!--//carousel-->
    </div><!--//hero-->


    <div class="plates container-fluid">
        <div class="row">
            {% for theme in themes %}

                <div class="col-xs-3 card">
                    <div class="thumbnail">
                        <a href="/lobby/{{ theme.url }}">
                            <img style="height:150px" src="/static/images/upload_theme/{{ theme.url }}" alt="...">
                        </a>

                        <hr>

                        <div class="caption" style="margin-top:-40px; height:125px">
                            <a href="/lobby/{{ theme.url }}">
                                <h3>{{ theme.name }}</h3>
                            </a>
                            <p>{{ theme.introduce }}</p>
                        </div>
                        {% if session['logged_in'] %}
                            {% if not g.user.is_favoed(theme) %}
                                <a class="btn btn-default btn-xs favo" href="/lobby/favo_{{ theme.id }}" role="button">
                                    <span class="glyphicon glyphicon glyphicon-star-empty"><strong
                                            style="font-size:12px">{{ len(theme.users_favo) }}</strong></span>
                                </a>
                            {% else %}
                                <a class="btn btn-default btn-xs favo" href="/lobby/unfavo_{{ theme.id }}"
                                   role="button">
                                    <span class="glyphicon glyphicon glyphicon-star"><strong
                                            style="font-size:12px">{{ len(theme.users_favo) }}</strong></span>
                                </a>
                            {% endif %}
                        {% endif %}
                        &nbsp;文章数量：{{ theme.theme_posts.count() }}
                    </div>
                </div>

            {% endfor %}

            {% if g.user.role == "admin" %}

                <div class="col-xs-3">
                    <a type="button" data-toggle="modal" data-target="#modal-create" class="thumbnail add-theme">
                        <span style="top:140px" class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>


                <!-- Modal -->
                <div class="modal fade" id="modal-create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                        class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">创建话题</h4>
                            </div>
                            <form class="form-horizontal" action="/lobby/new_theme" enctype="multipart/form-data"
                                  method="post"
                                  role="form">
                                <div class="modal-body">

                                    {{ themeform.hidden_tag() }}

                                    <div class="form-group">
                                        <label for="inputname" class="col-sm-2 control-label">主题名称</label>
                                        <div class="col-sm-10">
                                            {{ themeform.name(class='form-control', id='inputname') }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputurl" class="col-sm-2 control-label">访问地址</label>
                                        <div class="col-sm-10" style="text-align:center">
                                            <div class="row">
                                                <label for="inputurl"
                                                       class="col-sm-3 control-label">djyqlll.com/lobby/</label>
                                                <div class="col-sm-9">
                                                    {{ themeform.url(class='form-control', id='inputurl') }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="textintro" class="col-sm-2 control-label">简单介绍</label>
                                        <div class="col-sm-10">
                                            {{ themeform.introduce(class='form-control', id='textintro') }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="file" class="col-sm-2 control-label">封面图片</label>
                                        <div class="col-sm-10">
                                            {{ themeform.file(id='file') }}
                                        </div>
                                    </div>


                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="submit" name="form-name" value="create-theme" class="btn btn-primary">
                                        提交
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            {% endif %}

        </div>
    </div>


{% endblock %}