<!DOCTYPE html>
<html lang="Zh">
<head>
    <meta charset="UTF-8">
    <title>矿工之家</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.bootcss.com/Buttons/2.0.0/css/buttons.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/Buttons/2.0.0/js/buttons.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.js') }}"></script>
    <script>moment.locale(['zh-cn']);</script>
</head>

<script type="text/javascript">
    $(window).bind("load", function () {
        var footerHeight = 0,
            footerTop = 0,
            $footer = $("#footer");
        positionFooter();

        //定义positionFooter function
        function positionFooter() {
            //取到div#footer高度
            footerHeight = $footer.height();
            //div#footer离屏幕顶部的距离
            footerTop = ($(window).scrollTop() + $(window).height() - footerHeight) + "px";
            //如果页面内容高度小于屏幕高度，div#footer将绝对定位到屏幕底部，否则div#footer保留它的正常静态定位
            if (($(document.body).height() + footerHeight) < $(window).height()) {
                $("footer").addClass("fixed-bottom");
            } else {
                $("footer").removeClass("fixed-bottom");
            }
        }

        $(window).scroll(positionFooter).resize(positionFooter);
    });


</script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style1.css') }}">

<style type="text/css">
    font-family: 微软雅黑,

    'Helvetica Neue'
    ,
    Arial,

    'Hiragino Sans GB'
    ,
    STHeiti,

    'Microsoft YaHei'
    ,
    'WenQuanYi Micro Hei'
    ,
    SimSun, Song, sans-serif

    ;
    html, body {
        margin: 0;
        padding: 0;
    }

    .fixed-bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    #footer {
        height: 60px;
    }

    .spliter {
        border: 0;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    ol, ul {
        list-style: none;
    }

    #nav {
        z-index: 1;
        background-color: transparent;
        border-color: transparent;
    }

    h2, h3 {
        color: white;
        font-weight: 600;
    }

    .texticon {
        color: white;
        font-size: 25px;
        text-align: center;
    }

    .text-center {
        color: white;
        font-weight: 800;
        font-size: 15px;
    }

    #row {
        position: relative;
        margin-top: 200px;
    }

    .jumbotron {
        margin-top: -50px;
        max-width: 250px;
        background: transparent;
        color: white;
    }

    .panel {
        margin-right: 50px;
        max-width: 400px;
        min-width: 250px;
        box-shadow: 3px 4px 3px 2px #666666;
        background: rgba(250, 250, 250, 0.9);
    }

    form {
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
        color: grey
    }

    a:hover {
        color: #fff;
    }

    li a {
        color: grey
    }

    .beian {
        float: left;
        height: 20px;
        font-size: 10px;
        line-height: 20px;
        margin: 0px 0px 0px 5px;
        color: #939393;
    }

</style>


<body>

<div id="main-container">
    <header>
        <nav class="navbar navbar-inverse" id="nav">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <h2>Quanter<span style="color:red;">Home</span>
                            <small class="badge">.COM</small>
                        </h2>
                    </a>
                </div>
            </div><!-- /.container-fluid -->
        </nav>
    </header>

    <div id="page">
        <ul class="cb-slideshow">
            <li><span>Image 01</span>
                <div><h3></h3></div>
            </li>
            <li><span>Image 02</span>
                <div><h3></h3></div>
            </li>
            <li><span>Image 03</span>
                <div><h3></h3></div>
            </li>
            <li><span>Image 04</span>
                <div><h3></h3></div>
            </li>
            <li><span>Image 05</span>
                <div><h3></h3></div>
            </li>
            <li><span>Image 06</span>
                <div><h3></h3></div>
            </li>
        </ul>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <strong>提示!</strong> {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="row" id="row">

            <div class="col-md-3 hidden-xs hidden-sm">

            </div>


            <div class="col-md-3 col-xs-6">
                <div class="jumbotron">
                    <h2>量化之家</h2>
                    <br>

                    <h3>量化分析爱好者的社区</h3>
                    <p><strong>* 金融知识分享社区</strong></p>
                    <p><strong>* 开启你的量化分析之路</strong></p>
                    <p><strong>* 我们只做最对的投资</strong></p>

                    <a class="button button-plain button-border button-primary button-rounded" href="#" role="button">了解更多</a>
                </div>
            </div>

            <div class="col-md-4 col-xs-7">
                <div class="panel panel-default">

                    <div>

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#login" aria-controls="login" role="tab"
                                                                      data-toggle="tab"><strong>登陆</strong></a></li>
                            <li role="presentation"><a href="#register" aria-controls="register" role="tab"
                                                       data-toggle="tab"><strong>注册</strong></a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="login">
                                <form action="" method="post" class="form-signin" role="form">

                                    {{ loginform.hidden_tag() }}

                                    <div class="form-group">
                                        <span>请输入您注册时使用的电子邮箱:</span><br>
                                        {{ loginform.email(size=20, placeholder='', class='form-control') }}<br>
                                        {% for error in loginform.email.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>


                                    <div class="form-group">
                                        <span>请输入您的密码:</span><br>
                                        {{ loginform.password(size=20, class='form-control') }}<br>
                                        {% for error in loginform.password.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>


                                    <button class="button button-3d button-primary button-rounded" type="submit"
                                            name="form-name"
                                            value="login">
                                        登入
                                    </button>
                                </form>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="register">
                                <form action="" method="post" class="form-signin" role="form">

                                    {{ registform.hidden_tag() }}

                                    <div class="form-group">
                                        {{ registform.email(size=20, placeholder='请输入您常用的邮箱', class='form-control') }}
                                        {% for error in registform.email.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>


                                    <div class="form-group">
                                        {{ registform.nickname(size=20, placeholder='请选择一个昵称', class='form-control') }}
                                        {% for error in registform.nickname.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>


                                    <div class="form-group">
                                        {{ registform.password(size=20, placeholder='请输入密码',class='form-control') }}
                                        {% for error in registform.password.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>


                                    <div class="form-group">
                                        {{ registform.repeat(size=20, placeholder='请重复密码',class='form-control') }}
                                        {% for error in registform.repeat.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>

                                    <button class="button button-3d button-primary button-rounded" type="submit"
                                            name="form-name"
                                            value="registform">去注册
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>


                </div>

            </div>

            <div class="col-md-2 hidden-xs hidden-sm">

            </div>


        </div>

        <br>

        <div class="row">
            <div class="col-md-4 hidden-xs hidden-sm"></div>

            <div class="col-md-4 col-xs-12">

                <div class="row">

                    <div class="col-xs-4 texticon">
                        <a class="button button-primary button-box button-giant button-longshadow-right" href="#"><i
                                class="fa fa-lg fa-rss" aria-hidden="true"></i></a><br>
                        <p class="text-center">日报</p>
                    </div>
                    <div class="col-xs-4 texticon">
                        <a class="button button-action button-box button-giant button-longshadow-right" href="/lobby"><i
                                class="fa fa-lg fa-comment" aria-hidden="true"></i></a><br>
                        <p class="text-center">讨论社区</p>
                    </div>
                    <div class="col-xs-4 texticon">
                        <a class="button button-caution button-box button-giant button-longshadow-right"
                           href="/quota/nxb"><i
                                class="fa fa-lg fa-line-chart" aria-hidden="true"></i></a><br>
                        <p class="text-center">数据</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 hidden-xs hidden-sm"></div>
        </div>

        <br>

    </div>
</div>


<div id="footer">

    <footer class="footer" style="background: rgba(20, 20, 20, 0.3);">
        <div class="container" style="color:white">
            <div class="row footer-top">

                <div class="col-sm-6 col-lg-6">
                    <h4>
                        矿工之家
                    </h4>
                    <p>本网站由骨头汤开发与维护，代码托管在<a href="https://git.coding.net/tfdetang/quanthome.git" target="_blank"
                                            style="color:grey">Coding.net</a>
                        。欢迎有兴趣的朋友一起来维护</p>
                </div>
                <div class="col-sm-6  col-lg-5 col-lg-offset-1">
                    <div class="row about">
                        <div class="col-xs-3">
                            <h4>关于</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">关于作者</a></li>
                                <li><a href="#">广告合作</a></li>
                                <li><a href="#">友情链接</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-3">
                            <h4>联系方式</h4>
                            <ul class="list-unstyled">
                                <li><a href="mailto:weikun.t@gmail.com">电子邮件</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-3">
                            <h4>赞助商</h4>
                            <ul class="list-unstyled">
                                <li><a href="http://jme.com" target="_blank">大圆银泰</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row footer-bottom">
                <ul class="list-inline text-center">
                    <li><a href="http://www.miibeian.gov.cn/" target="_blank"
                           style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                        <p class="beian">
                            苏ICP备17037843号-1</p></a>
                    </li>
                    <li><a target="_blank"
                           href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32010202010316"
                           style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src=""
                                                                                                                style="float:left;"/>
                        <p class="beian">苏公网安备
                            32010202010316号</p></a></li>
                </ul>
            </div>
        </div>
    </footer>


</div>

</body>


</html>