{% extends "header.html" %}

{% block body %}

    <style type="text/css">

        .main {
            max-width: 1400px;
            min-width: 1000px;
        }

        .panel {
            box-shadow: 2px 1px 3px 1px #aaaaaa;
        }

        #chart {
            min-width: 400px;
            height: 600px;
        }


    </style>

    <script src="//cdn.bootcss.com/echarts/3.4.0/echarts.min.js"></script>

    <div class="container-fluid main">

        <div class="col-md-2">


            <div class="button-group">

                <a href="#" type="button" class="button active">涨跌宝历史</a>
                <a href="/quota/zdb_real" type="button" class="button">涨跌宝实时</a>
            </div>

        </div>

        <div class="col-md-8">

            <div class="row">
                <div id="chart"></div>

                <script type="text/javascript">
                    // 基于准备好的dom，初始化echarts实例
                    var myChart = echarts.init(document.getElementById('chart'));
                    myChart.showLoading();
                    $.getJSON('/data/get_zdb_history', function (data) {
                        myChart.hideLoading();

                        // 指定图表的配置项和数据

                        var option = {
                            title: {
                                text: '涨跌宝历史行情',
                                subtext: '多日比率&收益比较',
                                x: 'center'
                            },
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                    animation: false
                                }
                            },
                            color: ['rgba(194,53,49,0.5)', 'rgba(47,69,84,0.5)', '#3D3D3D', '#c23531', '#2f4554'],
                            legend: {
                                data: ['看涨', '看跌', 'K值', '买涨收入', '买跌收入'],
                                x: 'left'
                            },
                            toolbox: {
                                feature: {
                                    dataZoom: {
                                        yAxisIndex: 'none'
                                    },
                                    restore: {},
                                    saveAsImage: {}
                                }
                            },
                            dataZoom: [
                                {
                                    show: true,
                                    realtime: false,
                                    start: 50,
                                    end: 100,
                                    xAxisIndex: [0, 1]
                                },
                                {
                                    type: 'inside',
                                    realtime: false,
                                    start: 30,
                                    end: 70,
                                    xAxisIndex: [0, 1]
                                }
                            ],
                            grid: [{
                                left: 60,
                                right: 60,
                                height: '45%'
                            }, {
                                left: 60,
                                right: 60,
                                top: '65%',
                                height: '25%'
                            }],
                            xAxis: [
                                {
                                    type: 'category',
                                    boundaryGap: true,
                                    axisLine: {onZero: true},
                                    data: data.data.date
                                },
                                {
                                    gridIndex: 1,
                                    type: 'category',
                                    boundaryGap: true,
                                    axisLine: {onZero: true},
                                    data: data.data.date,
                                }
                            ],
                            yAxis: [
                                {
                                    name: '总量',
                                    type: 'value'
                                },
                                {
                                    name: 'K值',
                                    type: 'value',
                                    min: 0.1,
                                    max: 2
                                },
                                {
                                    gridIndex: 1,
                                    name: '每10000元收入',
                                    type: 'value',
                                }
                            ],
                            series: [
                                {
                                    name: '看涨',
                                    type: 'bar',
                                    stack: '数量',
                                    data: data.data.amount_up
                                },
                                {
                                    name: '看跌',
                                    type: 'bar',
                                    stack: '数量',
                                    data: data.data.amount_down
                                },
                                {
                                    name: 'K值',
                                    type: 'line',
                                    yAxisIndex: 1,
                                    label: {
                                        normal: {
                                            show: true,
                                            position: 'top',
                                        },
                                    },

                                    lineStyle: {
                                        normal: {
                                            width: 3,
                                            shadowColor: 'rgba(0,0,0,0.4)',
                                            shadowBlur: 5,
                                            shadowOffsetY: 5
                                        }
                                    },

                                    data: data.data.ratio
                                },
                                {
                                    name: '买涨收入',
                                    type: 'line',
                                    xAxisIndex: 1,
                                    yAxisIndex: 2,
                                    hoverAnimation: false,
                                    areaStyle: {normal: {}},
                                    data: data.data.up_gain
                                },
                                {
                                    name: '买跌收入',
                                    type: 'line',
                                    xAxisIndex: 1,
                                    yAxisIndex: 2,
                                    hoverAnimation: false,
                                    areaStyle: {normal: {}},
                                    data: data.data.down_gain
                                }
                            ]
                        };
                        myChart.setOption(option);
                    });


                </script>

            </div>
        </div>


    </div>

{% endblock %}